.App {
  text-align: center;
  background-color: rgb(41, 41, 41);
  background-size: cover;
  height: 150vh;
  width: 100%;
}

.App h1 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin-top: 0;
  color:aliceblue
}

.title {
  font-size: 4vw;
  padding-top: 10px;
  color: white;
}

.navBar {
  width: 100%;
  background-color: black;
  padding: 8px;
}

.navBar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navBar li {
  display: inline;
  padding: 8px;
  background-color: black;
  width: 100%;
}

li:hover {
  background-color: #111;
}

.homepage {
  padding-top: 50px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.aboutpage {
  width: 75%;
  margin: 0 auto;
  margin-top: 25px;
  font-size: 1.3vw;
  font-weight: bold;
  color: white;
}

.aboutpage img {
  width: 50%;
  height: 50%;
  margin: 0 auto
}

.aboutpage h1 {
  border-bottom: 6px white solid;
  font-size: 5vh;
}

.col-sm-6 {
  background-color: #282c34;
  border-color: #1a1a1a;
  border-style: solid;
  border-width: 5px;
  margin-left: 700px;
  margin-right: 700px;
}

.homeHeader {
  color: aliceblue
}

p {
  color: aliceblue
}

.btn {
  color: aliceblue;
  background-color: #282c34
}

a {
  color:rgb(199, 199, 199);
}

.editButton {
  color: aliceblue;
  background-color: #282c34
}

/* .packages {
  width: 75%;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 1.3vw;
  font-weight: bold;
  color: white;
}

.packages h1 {
  border-bottom: 6px white solid;
  font-size: 5vh;
}

.packages ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.packages li {
  font-size: 25px;
  margin: 20px;
} */